@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.btn {
	display: inline-block;
	font-weight: 800;
	font-size: 24px;
	line-height: 31px;
	background-color: #5CA7FF;
	padding: 20px 70px;
	border-radius: 5px;
}

.btn:hover {
	color: #000000;
	background-color: #FFFFFF;
	transition: ease-in .2s;
}

.login-btn:hover {
	background-color: #000000;
	color: #FFFFFF;
}

.login__container {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 200px;
}

.login__container input {
	margin-bottom: 15px;
}

.login__container label {
	margin-right: auto;
	margin-bottom: 5px;
}

.login-btn {
	margin-top: 30px;
	color: #FFFFFF;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.login-form input {
	min-height: 35px;
	font-size: 20px;
}

/* Table */

.table {
	width: calc(100% - 100px);
	margin: 50px auto 0;
	border: none;
	margin-bottom: 20px;
}

.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

.table thead tr th:first-child,
.table tbody tr td:first-child {
	border-left: none;
}

.table thead tr th:last-child,
.table tbody tr td:last-child {
	border-right: none;
}

.table tbody tr:nth-child(even) {
	background: #f3f3f3;
}